NODE_ENV='development'
PORT=2000
DEBUG=p.*
PREFIX=http://
DOMAIN=quezx.test
MYSQL="mysql://gloryque:intranet%40quezx@192.168.0.200/gloryque_sso"
MASTER_TOKEN=122
ACCESS_TOKEN=ff709fb4f14cc09d175b98b96bc0c19b8f0020ce
URLS_API=http://api.quezx.test
GOOGLE_CLIENT_ID = '687892157877-r07s29uhd8mrc59aluh5dcm275bdv1ab.apps.googleusercontent.com'
GOOGLE_SECRET = 'iR6mrt3k3Y71LLdea23BX0LM'
