.col-md-offset-4.col-md-4.col-xs-.m-t-xxl.bg-white-only.padder-v(style='height: 200px;')
  a.text-center.navbar-brand.block.m-t(href='/')
    img(src='./assets/images/thumbs_up.svg' alt='QuezX Accounts')
  hr
  .wrapper-xs.text-center.h4 Please check your Email or Whatsapp to login using our Magic link.
