.modal-header
  .modal-title
    .h4.text-info Reset Login
      .close.text-dark(ng-click='$ctrl.$uibModalInstance.dismiss("cancel")') ×
.modal-body
  div
    .wrapper-xs
      .text-danger.m-l-md(ng-bind="$ctrl.previousLoginDetails.error_description")
    .wrapper-xs
      h4 Device Details
      form
        .form-group.row
          label.col-sm-2.col-form-label Browser:
          .col-sm-10
            .form-control-plaintext(ng-bind="$ctrl.previousLoginDetails.session.browser")
        .form-group.row
          label.col-sm-2.col-form-label Location:
          .col-sm-10
            form-control-plaintext(ng-bind="$ctrl.previousLoginDetails.session.city")
        .form-group.row
          label.col-sm-2.col-form-label Time:
          .col-sm-10
            .form-control-plaintext(ng-bind="$ctrl.previousLoginDetails.session.created_on | date: 'fullDate'")

.modal-footer.m-t-md.b-t
  a.btn.btn-light(ng-click='$ctrl.$uibModalInstance.dismiss("cancel")') Cancel
  a.btn.btn-success(ng-click='$ctrl.$uibModalInstance.close()') Reset Login
