//- list
ul.nav
  li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs
    span Navigation
  li(ui-sref-active='active'): a(ui-sref='app.dashboard')
    i.fa.fa-home.icon.text-default-lter
    span.font-bold Dashboard
  li(ui-sref-active='active'): a(ui-sref='app.jobs.list')
    b.hide.badge.bg-info.pull-right 20
    i.fa.fa-list-alt.icon.text-info-dker
    span.font-bold Positions
  li(ui-sref-active='active'): a(ui-sref='app.jobs.applicants({bucket: "All"})')
    i.fa.fa-users.icon.text-primary-dker
    span.font-bold Candidates
  li(ui-sref-active='active'): a(ui-sref='app.calendar')
    b.hide.badge.bg-info.pull-right 9
    i.fa.fa-calendar-check-o.icon.text-success-dker
    span.font-bold Calendar
  li(ng-class='{active: App.$state.includes("app.stats")}'): a(ui-sref='app.stats.candidate({nav: 0})')
    i.fa.fa-line-chart.icon.text-danger-lter
    span.font-bold Statistics
