//- list
ul.nav
  li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs
    span Navigation
  li(ui-sref-active='active'): a(ui-sref='app.dashboard')
    i.fa.fa-bar-chart.icon.text-primary-dker
    span.font-bold Dashboard
  li(ui-sref-active='active'): a(ui-sref='app.jobs')
    b.badge.bg-info.pull-right 20
    i.fa.fa-list-alt.icon.text-info-dker
    span.font-bold Positions
  li(ui-sref-active='active'): a(ui-sref='app.candidates')
    i.fa.fa-users.icon.text-primary-dker
    span.font-bold Candidates
  li(ui-sref-active='active'): a(ui-sref='app.interviews')
    b.badge.bg-info.pull-right 9
    i.fa.fa-calendar-check-o.icon.text-success-dker
    span.font-bold Interview
  li(ui-sref-active='active'): a(ui-sref='app.calendar')
    i.fa.fa-calendar.icon.text-info-lt
    span.font-bold Calendar
  li(ui-sref-active='active'): a(ui-sref='app.statistics')
    i.fa.fa-pie-chart.icon.text-info-dker
    span.font-bold Statistics
  li(ui-sref-active='active'): a(ui-sref='app.payment')
    i.fa.fa-credit-card.icon.text-danger-lter
    span.font-bold Payment
