- var apiServer = prefix + 'api.' + domain;
- var accountsServer = prefix + 'accounts.' + domain;
- var hireServer = prefix + 'hire.' + domain;
- var partnerServer = prefix + 'partner.' + domain;
- var hireLogin = accountsServer + '/authorise?client_id=' + hire.client + '&response_type=code&redirect_uri=' + hire.redirect_uri + '&state=yo';
- var partnerLogin = accountsServer+ '/authorise?client_id=' + partner.client + '&response_type=code&redirect_uri=' + partner.redirect_uri + '&state=yo';
- var APP = { apiServer: apiServer, accountsServer: accountsServer, hireServer: hireServer, hireLogin: hireLogin, partnerLogin: partnerLogin };

script.
  angular.module('qui.core')
    .constant('APP', !{JSON.stringify(APP)});
