- var apiServer = prefix + 'api.' + domain;
- var accountsServer = prefix + 'accounts.' + domain;
- var partnerServer = prefix + 'partner.' + domain;
- var manageServer = prefix + 'manage.' + domain;
- var hireLogin = accountsServer + '/authorise?client_id=' + hire.client + '&response_type=code&redirect_uri=' + hire.redirect_uri;
- var partnerLogin = accountsServer+ '/authorise?client_id=' + partner.client + '&response_type=code&redirect_uri=' + partner.redirect_uri;
- var manageLogin = accountsServer+ '/authorise?client_id=' + manage.client + '&response_type=code&redirect_uri=' + manage.redirect_uri;
- var APP = { apiServer: apiServer, accountsServer: accountsServer, manageServer: manageServer, hireLogin: hireLogin, partnerLogin: partnerLogin, manageLogin: manageLogin, qnotifyServer: 'https://qnotify.quezx.com/api' };

script.
  angular.module('qui.core')
    .constant('APP', !{JSON.stringify(APP)});
