- var apiServer = '//api.' + DOMAIN;
- var accountsServer = '//accounts.' + DOMAIN;
- var hireServer = '//hire.' + DOMAIN;
- var partnerServer = '//partner.' + DOMAIN;
- var hireLogin = '//accounts.' + DOMAIN + '/authorise?client_id=' + HIRE_CLIENT + '&response_type=code&redirect_uri=' + HIRE_REDIRECT_URI + '&state=yo';
- var partnerLogin = '//accounts.' + DOMAIN+ '/authorise?client_id=' + PARTNER_CLIENT + '&response_type=code&redirect_uri=' + PARTNER_REDIRECT_URI + '&state=yo';
- var APP = { apiServer: apiServer, accountsServer: accountsServer, hireServer: hireServer, hireLogin: hireLogin, partnerLogin: partnerLogin };

if (DOMAIN === 'quezx.com')
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-52116787-2', 'auto');
    ga('send', 'pageview');
script.
  angular.module('qui.core')
    .constant('APP', !{JSON.stringify(APP)});
