//- Job Follower Add and Edit
a.dropdown-toggle(uib-dropdown-toggle id='append-to-link' ng-if='Follower.followers.length > 0')
  i.fa.fa-user-plus.fa-fw(style='font-size: 1.2em;')
  span.badge.badge-sm.up.bg-white.b-a.text-dark.b-dark(ng-if= 'Follower.followers.length > 1' style='margin-left: -10px;') {{Follower.followers.length}}

.dropdown-menu(uib-dropdown-menu)
  .panel.bg-white-only
    .panel-heading.bg-light.wrapper-xs
      strong.m-l-xs JD shared with
    .list-group.no-borders
      .hbox.list-group-item.m-b-n-sm
        .col.w-xxl.text-info USERS
        .col.w-xs.clearfix: span.pull-right Privileges
      .b-b.m-t-sm.m-r-sm.m-l-sm.wrapper-xs(ng-repeat='follower in Follower.followers'): .hbox.list-group-item.no-padder
        .col.w-xxl.v-middle
          .fa-stack.text-info-dker.m-r-sm
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-user.fa-stack-1x.fa-inverse(style='font-size: 1.5em;margin-top: 0.12em;')
          | {{follower.user.name}}
        .col(style='width: 10em;')
          span.pull-right.b-a.text-muted.r(ng-if='follower.owner') &nbsp;Owner&nbsp;
          .btn-group.pull-right(ng-if='!follower.owner')
            label.btn.btn-sm.btn-default(name='follower_access_id' ng-model='follower.follower_access_id', uib-btn-radio='1' style='width: 6em' disabled title='Can view')
              i.fa.fa-check.text-active
              | Follower
            label.btn.btn-sm.btn-default(name='follower_access_id' ng-model='follower.follower_access_id', uib-btn-radio='2' style='width: 5em' disabled title='Can edit')
              i.fa.fa-check.text-active
              | Owner
        .line.m-xs

    //- Only get users if clicked on elements => saves getUser XHR
    .wrapper-xs.bg-light(ng-click='Follower.Users.all || Follower.getAllUser()')

      form.form-inline.bg-white-only(name='inviteUser' role='inviteUser' ng-submit='Follower.inviteUser()' style='top: 20px; z-index: 1001' ng-show='Follower.showInviteUser')
        .form-group.wrapper-xs
          input.form-control(type='text' placeholder='Name' ng-model='Follower.inviteUserData.name' required)

          input.form-control(type='email' placeholder='Email' ng-model='Follower.inviteUserData.email_id' required)

          span.m-l-xxl: div.m-l-xl.close.fa-2x(title='Close' ng-click='Follower.showInviteUser = false') ×

        .form-group.wrapper-xs
          .btn-group(style='width: 10em;')
            label.btn.btn-sm.btn-default(name='follower_access_id' ng-model='Follower.inviteUserData.follower_access_id', uib-btn-radio='1' style='width: 6em' title='Can view')
              i.fa.fa-check.text-active
              | Follower
            label.btn.btn-sm.btn-default(name='follower_access_id' ng-model='Follower.inviteUserData.follower_access_id', uib-btn-radio='2' style='width: 5em' title='Can edit')
              i.fa.fa-check.text-active
              | Owner

          button.btn.btn-sm.btn-success(type='submit' ng-disabled='inviteUser.$invalid') Invite

      form.form-inline.pos-rlt(name='follower' role='follower' ng-submit='Follower.add(Follower.Users.selected)' ng-show='!Follower.showInviteUser')

        div.m-l-xs
          a.b-a.b-info.r.bg-white-only(href='')
            span.text-info-dker(
              ng-show='Follower.Users.model'
              ng-click='Follower.invite(Follower.Users.model)'
            )
              strong &nbsp; Add co-worker:
              span &nbsp; {{Follower.Users.model}} &nbsp;

        .form-group.wrapper-xs
          input.form-control(type='text' placeholder='Name or Email' ng-model='Follower.Users.model' uib-typeahead='user.name for user in Follower.Users.list() | filter: {$:$viewValue} ' typeahead-loading='Follower.Users.loading' typeahead-no-results='Follower.Users.noResults' typeahead-on-select='Follower.Users.select($item)' required typeahead-min-length='0' typeahead-template-url='userTemplate.html' ng-change='Follower.Users.unselect()')


        input(type='hidden' ng-model='Follower.data.user_id' required)
        .form-group.wrapper-xs.text-muted.b-l Access
        .btn-group(ng-init='Follower.data.follower_access_id = 2' style='width: 10em;')
          label.btn.btn-sm.btn-default(name='follower_access_id' ng-model='Follower.data.follower_access_id', uib-btn-radio='1' style='width: 6em' title='Can view')
            i.fa.fa-check.text-active
            | Follower
          label.btn.btn-sm.btn-default(name='follower_access_id' ng-model='Follower.data.follower_access_id', uib-btn-radio='2' style='width: 5em' title='Can edit')
            i.fa.fa-check.text-active
            | Owner
        .form-group.b-l.m-l-lg.padder
          button.btn.btn-sm.btn-success(type='submit' ng-disabled='follower.$invalid') Add

script(type='text/ng-template' id='userTemplate.html'): a
  span(ng-bind-html='match.label | uibTypeaheadHighlight:query')
  span.text-black-lter
    | &nbsp; &lt;
    span(ng-bind-html='match.model.email_id | uibTypeaheadHighlight:query')
    | &gt;
