//- Job Follower Add and Edit
a.dropdown-toggle(uib-dropdown-toggle id='append-to-link' ng-if='Follower.followers.length > 0')
  i.fa.fa-user-plus.fa-fw(style='font-size: 1.2em;')
  span.badge.badge-sm.up.bg-danger(style='margin-left: -10px;') {{Follower.followers.length}}

.dropdown-menu
  .panel.bg-white-only
    .panel-heading.bg-light.wrapper-xs
      strong.m-l-xs JD shared with
    .list-group.no-borders
      .hbox.list-group-item.m-b-n-sm
        .col.w-xxl.text-info USERS
        .col.w-xs.clearfix: span.pull-right Privileges
      .b-b.m-t-sm.m-r-sm.m-l-sm.wrapper-xs(ng-repeat='follower in Follower.followers'): .hbox.list-group-item.no-padder
        .col.w-xxl.v-middle
          .fa-stack.text-info-dker.m-r-sm
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-user.fa-stack-1x.fa-inverse(style='font-size: 1.5em;margin-top: 0.12em;')
          | {{follower.user.name}}
        .col(style='width: 8em;')
          span.pull-right.b-a.text-muted.r(ng-if='follower.owner') &nbsp;Owner&nbsp;
          .btn-group(ng-if='!follower.owner')
            label.btn.btn-sm.btn-default(name='follower_access_id' ng-model='follower.follower_access_id', uib-btn-radio='1' style='width: 4.5em')
              i.fa.fa-check.text-active
              | View
            label.btn.btn-sm.btn-default(name='follower_access_id' ng-model='follower.follower_access_id', uib-btn-radio='2' style='width: 4.5em')
              i.fa.fa-check.text-active
              | Edit
        .line.m-xs

    .wrapper-xs.bg-light.dk: form.form-inline(role='follower')
      .form-group.wrapper-xs
        input.form-control(placeholder='Enter name or Email')
      .form-group.wrapper-xs.text-muted.b-l Access
      .btn-group(ng-init='Follower.data.follower_access_id = 2' style='width: 8em;')
        label.btn.btn-sm.btn-default(name='follower_access_id' ng-model='Follower.data.follower_access_id', uib-btn-radio='1' style='width: 4.5em')
          i.fa.fa-check.text-active
          | View
        label.btn.btn-sm.btn-default(name='follower_access_id' ng-model='Follower.data.follower_access_id', uib-btn-radio='2' style='width: 4.5em')
          i.fa.fa-check.text-active
          | Edit
      .form-group.b-l.m-l-lg.padder
        button.btn.btn-sm.btn-success(type='submit') Add
