.container.hbox.hbox-auto-xs(ng-init='App.app.settings.container = false;')
  .col.w-xl.v-middle
    .wrapper.text-center.text-dark: h3 Update Password

    form.form-validation(name="form" ng-submit='Password.update()' method='POST')
      .alert.alert-danger(ng-show='Password.error' ng-bind='Password.error')
      .alert.alert-success(ng-show='Password.success' ng-bind='Password.success')

      .form-group
        label.text-dark-dker.font-thin(for='current') Current Password
        input.wrapper-md.form-control(type='password' name='current' placeholder='Current Password' ng-model='Password.data.current' id='current' required autofocus ng-minlength="3")
      .form-group
        label.text-dark-dker.font-thin(for='update') New Password
        .text-danger-lter(ng-if='form.confirm.$touched')
          p(ng-show='form.update.$error.minlength') Password must be 3 Characters or more
        input.wrapper-md.form-control(type='password' name='update' placeholder='New Password' ng-model='Password.data.update' id='update' required ng-minlength="3" ng-change='Password.match(form.confirm)')
      .form-group
        label.text-dark-dker.font-thin(for='confirm') Confirm Password
        .text-danger-lter(ng-if='form.confirm.$touched')
          p(ng-show='form.confirm.$error.match') Password mismatch
        input.wrapper-md.form-control(type='password' name='confirm' placeholder='Confirm Password' ng-model='Password.confirm' id='confirm' required ng-change='Password.match(form.confirm)')

      button.pull-right.btn.btn-md.btn-primary.lt(type='submit' ng-disabled='form.$invalid') Update
