.container.hbox.hbox-auto-xs(ng-init='App.app.settings.container = false;')
  .col.w-xl.v-middle
    .wrapper.text-center.text-dark: h3 Change Password

    form.form-validation.r-2x.b-a.b-light-dker.wrapper-md.bg-white-only.clear(name="form" ng-submit='Password.change()' method='POST')
      .alert.alert-danger(ng-show='Password.error' ng-bind='Password.error')
      .alert.alert-success(ng-show='Password.success' ng-bind='Password.success')

      .form-group
        label.text-dark-dker(for='old_password') Current password
        input.wrapper-md.form-control(type='password' name='old_password' ng-model='Password.data.old_password' id='old_password' required autofocus ng-minlength="3")
      .form-group
        label.text-dark-dker(for='password') New password
        .text-danger-lter(ng-if='form.confirm_password.$touched')
          p(ng-show='form.password.$error.minlength') Password must be 3 Characters or more
        input.wrapper-md.form-control(type='password' name='password' ng-model='Password.data.password' id='password' required ng-minlength="3" ng-change='Password.match(form.confirm_password)')
      .form-group
        label.text-dark-dker(for='confirm_password') Confirm new password
        .text-danger-lter(ng-if='form.confirm_password.$touched')
          p(ng-show='form.confirm_password.$error.match') Password mismatch
        input.wrapper-md.form-control(type='password' name='confirm_password' ng-model='Password.confirm_password' id='confirm_password' required ng-change='Password.match(form.confirm_password)')
      .hbox
        .col.v-middle: button.btn.btn-md.btn-success(type='submit' ng-disabled='form.$invalid') Update
        .col.v-middle.text-right: a.text-info(ui-sref='oauth.password-reset') I forgot my password
