.container.w-xxl.w-auto-xs(ng-init='App.app.settings.container = false;')
  a.navbar-brand.block.m-t(ui-sref='oauth.signin')
    img(src='/images/logo.svg', alt='{{App.app.name}}')
  .wrapper.text-center.text-dark: h3 Reset your password

  form.form-validation.r-2x.b-a.b-light-dker.wrapper-md.bg-white-only.clear(name="form" ng-submit='Password.reset()' method='POST')
    .alert.alert-danger(ng-show='Password.error' ng-bind='Password.error')
    .alert.alert-success(ng-show='Password.success')
      | {{Password.success}}
      a.pull-right.text-success(ui-sref='oauth.signin'): b Log In

    .form-group
      label.text-dark-dker(for='email_id') Enter your email address and we will send your reset password.
      input.wrapper-md.form-control(type='email' name='email_id' ng-model='Password.data.email_id' id='email_id' required autofocus)
    button.btn.w-full.font-bold.btn-success.bg-gd-lt(type='submit' ng-disabled='form.$invalid') Send password reset email

  .m-t-sm.text-center(ng-include="'html/blocks/footer.html'")
