.container.w-xxl.w-auto-xs(ng-init='App.app.settings.container = false;')
  .m-b-xs
    .wrapper.text-center.text-dark: h3 Update Password

    form.form-validation(name="form" ng-submit='Password.update()')
      .text-danger.wrapper.text-center(ng-show='Password.error') {{Password.error}}

      .list-group.list-group-sm.m-b-md
        .list-group-item: input.form-control.no-border(type='text' placeholder='Username' ng-model='Password.user.username' required autofocus="true")
        .list-group-item: input.form-control.no-border(type='password' placeholder='Password' ng-model='Password.user.password' required)

      button.pull-right.btn.btn-md.btn-primary(type='submit') Update

      .line.line-dashed

      //- p.text-center: small Do not have an account?

      //- a.btn.btn-lg.btn-default.btn-block(ui-sref='access.signup') Create an account

  .text-center(ng-include="'html/blocks/footer.html'")
