.col-lg-10.col-lg-offset-1.wrapper-md
  table.table.m-b-none(ng-controller='ApplicantsController as Applicant' before-bottom='Applicant.loadApplicants()')
    thead
      tr
        th Name
        th Position
        th(style='width:20%;') Status
    tbody
      tr.bg-white(ng-repeat='applicant in Applicant.applicants')
        td
          a(ui-sref='app.applicants.view({jobId: applicant._root_.id })') {{applicant.name}}
        td
          a(ui-sref='app.jobs.manage({jobId: applicant._root_.id })') {{applicant._root_.role}}
        td: button.btn.btn-info.w-full(style='text-align:left;padding: 2px 8px;') {{applicant.state_name}}
    tfoot
      tr
        td
        td
          button.pull-left.btn.active.m-t-xs(ng-if="Applicant.ui.loading")
            i.fa.fa-circle-o-notch.fa-spin
            strong &nbsp;Loading
          button.pull-left.btn.btn-primary.m-t-xs(ng-if="Applicant.ui.lazyLoad" ng-click="Applicant.loadApplicants()")
            i.fa.fa-plus-circle
            strong &nbsp;Load More
        td
