div(ng-controller='ApplicantViewController as Applicant')
  .col-md-3.no-padder.fixed-applicant-details.bg-white
    div(style='position: relative; height: 100%; width: 100%; top: 0; overflow-x: hidden; overflow-wrap: break-word;')
      //- Applicant top cover container
      .wrapper-xs.m-sm.m-r-none.r.b-a(class='b-{{App.states[Applicant.data.state_id].config.color}}')
        .hbox.m-t-xs
          .col.wrapper-xs.v-middle
            .h3.wrapper-xs.text-ellipsis.text-dark(title='{{Applicant.data.name}}' ng-bind='Applicant.data.name')
            .h4.wrapper-xs.text-ellipsis(title='Job position: {{Applicant.job.role}}' ng-if='Applicant.job.role')
              i.fa.fa-briefcase.m-r-xs
              span(ng-bind='Applicant.job.role')
          .col(href='' style='width: 2em;'): a.text-muted.pull-right: i.m-t-sm.wrapper-xs.fa.fa-download(ng-click='App.downloadApplicant([Applicant.data.id])' title='Download CV')
        .wrapper-xs
          .hbox(uib-dropdown='' uib-keyboard-nav='' dropdown-append-to-body)
            button.btn.rounded(
              class='btn-{{App.states[Applicant.data.state_id].config.color}}'
              uib-dropdown-toggle='' style='text-align:left;padding: 2px 8px;'
              ng-disabled='App.states[Applicant.data.state_id].Actions.length===0'
            )
              span {{Applicant.data.state_name}}&nbsp;
              span(ng-if='App.states[Applicant.data.state_id].Actions.length>0').caret

            .col.v-middle.thumb-xs(title='System generated alogrithmic Score')
              .font-thin.h3.pull-right {{Applicant.data.applicant_score}}
            ul.uib-dropdown-menu(role='menu' aria-labelledby='simple-btn-keyboard-nav')
              li(role='menuitem' ng-repeat='state in App.states[Applicant.data.state_id].Actions')
                a(href='' ng-click='App.changeState(Applicant.data, state.state_id, Applicant.data._root_)') {{App.states[state.state_id].name}}

      //- Applicant Details
      .wrapper-xs.m-l-sm.m-t-sm
        .wrapper-xs.h4
          a.text-center.m-r-xs.pull-left.thumb-xs.no-border
            i.fa.fa-lg.fa-phone.text-muted
          .clear
            span(ng-bind='Applicant.data.mobile')
        .wrapper-xs.h4.m-t-sm

          a.text-center.m-r-xs.pull-left.thumb-xs.no-border
            i.fa.fa-lg.fa-envelope.text-muted
          .clear
            span(ng-bind='Applicant.data.email')

      //- Applicant Employee Information
      .wrapper-xs.m-l-sm.m-t-sm.b-t
        .wrapper-xs.h4
          a.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
            i.fa.fa-briefcase.text-muted.fa-lg
          .clear
            a.text-muted.font-thin Designation
            div(ng-bind='Applicant.data.exp_designation')

        .wrapper-xs.h4
          a.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
            i.fa.fa-users.text-muted.fa-lg
          .clear
            a.text-muted.font-thin Current company
            div(ng-bind='Applicant.data.exp_employer')

        .wrapper-xs.h4
          a.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
            i.fa.fa-graduation-cap.text-muted.fa-lg
          .clear
            a.text-muted.font-thin Qualification
            div(ng-bind='Applicant.data.edu_degree')

        .wrapper-xs.h4
          a.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
            i.fa.fa-map-marker.text-muted.fa-lg
          .clear
            a.text-muted.font-thin Location
            div(ng-bind='Applicant.data.exp_location')

        .wrapper-xs.h4
          a.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
            i.fa.fa-inr.text-muted.fa-lg
          .clear
            a.text-muted.font-thin Current CTC
            div
              span(ng-bind='Applicant.data.exp_salary')
              span &nbsp; Lakhs

        .wrapper-xs.h4
          a.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
            i.fa.fa-inr.text-muted.fa-lg
          .clear
            a.text-muted.font-thin Expected CTC
            div
              span(ng-bind='Applicant.data.expected_ctc')
              span &nbsp; Lakhs

        .wrapper-xs.h4
          a.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
            i.fa.fa-line-chart.text-muted.fa-lg
          .clear
            a.text-muted.font-thin Work experience
            div
              span(ng-bind='Applicant.data.total_exp | number: 0')
              span &nbsp; Years

        .wrapper-xs.h4
          a.text-center.m-r-xs.pull-left.thumb-xs.no-border.m-t-sm
            i.fa.fa-clock-o.text-muted.fa-lg.pull
          .clear
            a.text-muted.font-thin Notice period
            div
              span(ng-bind='Applicant.data.notice_period')
              span &nbsp; Days

      //- Applicant Skills
      .wrapper-xs.m-l-sm.m-t-sm.b-t(ng-if='Applicant.data.skills && Applicant.data.skills.length')
        .wrapper-xs.h4.text-muted Skills

        .wrapper-xs.h6.clear
            .wrapper-xs.pull-left.text-info-dker.b-a.b-info.r.m-t-xs.m-r-xs(ng-repeat='value in Applicant.data.skills') &nbsp;{{value}}&nbsp;

    //- Resume container
  .col-md-6.no-padder.fixed-resume
    div(style='position: relative; height: 100%; width: 100%; top: 0; overflow: hidden;')
      iframe.h-full.b-a.b-light.w-full(ng-src='{{Applicant.trustSrc(Applicant.resumeSrc)}}')

  .col-md-3.nav-comment.no-padder(ng-controller='ApplicantCommentsController as Comments')
    div(style='position: relative; height: 100%; width: 100%; top: 0; bottom: 50px; overflow-x: hidden; background-color: #fff; overflow-wrap: break-word;' scroll-to-bottom='Comments.ui.scrollToBottom')
      ul.list-group.no-bg.pull-in
        li.list-group-item(ng-repeat='comment in Comments.data | orderBy: ["created_at", "id"]')
          a.pull-left.thumb-sm.m-r-md(href=''): .fa-stack.fa-2x.text-primary
            i.fa.fa-circle.fa-stack-2x
            span.fa.fa-stack-1x.h3.fa-inverse {{comment.user.name[0].toUpperCase()}}

          .clear
            .text-info-dker {{comment.user.name}}
            .text-danger-dker {{App.states[comment.state_id].name}}
            .text-success-dker(ng-if='comment.scheduled_on')
              //- Interviews
              span(ng-if='[5, 8 ,17].indexOf(comment.state_id) > -1') Scheduled
              //- Make an offer
              span(ng-if='comment.state_id === 10') Offer
              //-  Offer Accepted
              span(ng-if='comment.state_id === 20') Offer Accepted
              //-  Offer Rejected
              span(ng-if='comment.state_id === 28') Offer Rejected
              //- Backout after Joining
              span(ng-if='comment.state_id === 29') Post-Joining Backout
              //- Candidate Joined
              span(ng-if='comment.state_id === 30') Joining
              //- Backout before Joining
              span(ng-if='comment.state_id === 31') Pre-Joining Backout
              span &nbsp;Date -
              strong &nbsp;{{comment.scheduled_on | date: 'MMM d, yyyy'}}

              //- only show time for interview
              strong(ng-if='[5, 8 ,17].indexOf(comment.state_id) > -1') &nbsp;{{comment.scheduled_on | date: 'h:mm a'}}

            //- Make an Offer
            .text-success-dker(ng-if='comment.suggested_join_date && comment.state_id === 10')
              //- Make an offer
              span Suggested Joining Date -
              strong &nbsp;{{comment.suggested_join_date | date: 'MMM d, yyyy'}}
            .text-success-dker(ng-if='comment.offered_ctc && comment.state_id === 10')
              span Offered CTC -
              strong &nbsp;{{comment.currency}} {{comment.offered_ctc}} Lacs

            //- Candidate Joined
            .text-success-dker(ng-if='comment.final_ctc && comment.state_id === 30')
              span Final CTC -
              strong &nbsp;{{comment.currency}} {{comment.final_ctc}} Lacs
            p {{comment.body}}
            .text-muted.pull-right(title='{{comment.created_on | date: "medium"}}') {{comment.created_at | date: 'd MMM, h:mm a'}}

      div(style='height: 20px;')
    form.form.form-validation.col-xs-12.wrapper-xs.bg-white.col-xs-12(style='position: relative; height: 50px; width: 100%; bottom: 40px; background-color: #fff;' ng-submit='Comments.insert()' name='commentForm')
      .input-group
        input.form-control(type='text' name='comment' placeholder='enter to comment' ng-model='Comments.post.comment' required)
        span.input-group-btn
          button.btn.btn-default(type='sumbit' ng-disabled='commentForm.$invalid')
            i.fa.fa-paper-plane
