.hbox(ng-controller='ApplicantsController as Applicant')
  .wrapper-xs.bg-light.b-b(style='position: fixed;width: 100%;background: #fff; z-index: 2;')
    .h2
    ul.nav.nav-pills.nav-sm
      li.m-r-xs(ng-repeat='bucket in Applicant.buckets' ui-sref-active="active")
        a(ui-sref='app.jobs.applicants({bucket: bucket})') {{bucket}}
  table.table.m-b-none.m-t-xl(before-bottom='Applicant.loadApplicants()' ng-if='Applicant.applicants.length')
    thead
      tr
        th Name
        th Position
        th(ng-if='Applicant.applicants[0].interview_type && Applicant.applicants[0].interview_time') Interview Detail
        th(style='width:20%;') Status
    tbody
      tr.bg-white(ng-repeat='applicant in Applicant.applicants')
        td.v-middle
          a(ui-sref='app.applicant.view({applicantId: applicant.id })') {{applicant.name}}
        td.v-middle
          a(ui-sref='app.jobs.manage({jobId: applicant._root_.id, bucket: "All" })') {{applicant._root_.role}}
        td.v-middle(ng-if='applicant.interview_type && applicant.interview_time')
          i.fa(class='text-{{App.interviewUI[applicant.interview_type].color}}-dker fa-{{App.interviewUI[applicant.interview_type].icon}}')
          span {{App.states[applicant.interview_type].name}}, {{applicant.interview_time | date : 'd MMM, h:mm a'}}
        td.v-middle: .w-full(uib-dropdown='' uib-keyboard-nav='' dropdown-append-to-body)
          button.btn(class='btn-{{App.states[applicant.state_id].config.color}}' uib-dropdown-toggle='' style='text-align:left;padding: 2px 8px;' ng-disabled='App.states[applicant.state_id].Actions.length===0')
            | {{applicant.state_name}}&nbsp;
            span(ng-if='App.states[applicant.state_id].Actions.length>0').caret
          ul.uib-dropdown-menu(role='menu' aria-labelledby='simple-btn-keyboard-nav')
            li(role='menuitem' ng-repeat='state in App.states[applicant.state_id].Actions')
              a(href='' ng-click='App.changeState(applicant, state.state_id, applicant._root_.id)') {{App.states[state.state_id].name}}
  .text-center.m-t-md
    span(title='Loading ...' ng-if='Applicant.ui.loading')
      i.fa.fa-spin.fa-circle-o-notch.btn.btn-default.wrapper-xs.rounded
    span(title='Load more' ng-if='Applicant.ui.lazyLoad' ng-click='Applicant.loadApplicants()')
      i.fa.fa-arrow-down.btn.btn-default.wrapper-xs.rounded

  h1.m-t-xxl.text-center.text-muted(ng-if='!Applicant.applicants.length') No Applicants
