.col-lg-10.col-lg-offset-1.wrapper-md
  table.table.m-b-none(ng-controller='ApplicantsController as Applicant' before-bottom='Applicant.loadApplicants()')
    thead
      tr
        th Name
        th Position
        th(style='width:20%;') Status
    tbody
      tr.bg-white(ng-repeat='applicant in Applicant.applicants')
        td
          a(ui-sref='app.applicants.view({jobId: applicant._root_.id })') {{applicant.name}}
        td
          a(ui-sref='app.jobs.manage({jobId: applicant._root_.id })') {{applicant._root_.role}}
        td: .w-full(uib-dropdown='' uib-keyboard-nav='' dropdown-append-to-body)
          button.btn.w-full(class='btn-{{App.states[applicant.state_id].config.color}}' uib-dropdown-toggle='' style='text-align:left;padding: 2px 8px;' ng-disabled='App.states[applicant.state_id].view.length===0')
            | {{applicant.state_name}}&nbsp;
            span(ng-if='App.states[applicant.state_id].view.length>0').caret
          ul.uib-dropdown-menu(role='menu' aria-labelledby='simple-btn-keyboard-nav')
            li(role='menuitem' ng-repeat='state_id in App.states[applicant.state_id].view')
              a(href='' ng-click='App.changeState(applicant, state_id)') {{App.states[state_id].name}}
    tfoot
      tr
        td
        td
          button.pull-left.btn.active.m-t-xs(ng-if="Applicant.ui.loading")
            i.fa.fa-circle-o-notch.fa-spin
            strong &nbsp;Loading
          button.pull-left.btn.btn-primary.m-t-xs(ng-if="Applicant.ui.lazyLoad" ng-click="Applicant.loadApplicants()")
            i.fa.fa-plus-circle
            strong &nbsp;Load More
        td
