//-Dashboard
div(ng-controller='DashboardController as Dash')
  .col-sm-4.no-padder
    .m-xs
      .col-xs-12.no-padder
        .m-xs.b-a.bg-white-only
          .wrapper-sm.b-b
            span.h4.text-black-lter.m-l-n-sm &nbsp; Awaiting Feedback
            a.pull-right.label.bg-primary.lt.m-r-xs(ui-sref='app.jobs.applicants({bucket: "Pending Feedback"})')
              .h5
                i.fa.fa-eye
                |  View
          .hbox.wrapper-md.bg-white-only
            .col
              i.fa.fa-file-text-o.fa-lg
              span.h4 &nbsp;CVs
              .fa-4x.h1(ng-bind='Dash.summary.cv || 0')
            .col.b-l.wrapper-xs
              i.fa.fa-user-secret.fa-lg
              span.h4 &nbsp;Interviews
              .fa-4x.h1(ng-bind='Dash.summary.interview || 0')
      .col-xs-12.no-padder
        .b-a.m-xs.bg-white
          .h4.text-black-lter.wrapper-sm.b-b: span.m-l-n-sm &nbsp; Actions Required
          .hbox.wrapper-sm.m-t-xs(ng-if='Dash.pipeline.length===0')
              .col.text-center All Done
          .hbox.wrapper-sm.m-t-xs(ng-if='Dash.pipeline.length>0')
              .col: .h6.font-bold Positions
              .col.thumb-xs: .h6.font-bold.pull-right CVs
          div(style='max-height: 300px; overflow-y: auto;')
            .hbox.wrapper-sm.b-t(ng-repeat='pipe in Dash.pipeline | orderBy:"-count"')
              .col: a(ui-sref='app.jobs.manage({jobId: pipe.id, bucket:"Pending Feedback"})') {{pipe.role}}
              .col.thumb-xs
                span.pull-right {{pipe.count}}
            .text-center
              div.wrapper-xs(ng-if='Dash.pipeUI.loading')
                i.fa.fa-spin.fa-circle-o-notch.btn.btn-default.wrapper-xs.rounded(title='Loading')
              div.wrapper-xs(ng-if='Dash.pipeUI.lazyLoad')
                i.fa.fa-arrow-down.btn.btn-default.wrapper-xs.rounded(title='Load more' ng-click='Dash.getPipeline()')
  .col-sm-8.no-padder
    .m-xs
      .col-xs-12.no-padder
        .col-sm-8.no-padder
          .m-xs.b-a.bg-white-only
            .h4.text-black-lter.wrapper-sm.b-b: span.m-l-n-sm &nbsp; CV Status
            .hbox.hbox-auto-sm.hbox-auto-xs.wrapper-xs
              .col.w-md.v-middle(style='max-width: 250px; margin: 0 auto;')
                canvas.inline.chart.chart-doughnut(chart-data='Dash.chart.data' chart-colours='["#5B90BF", "#96b5b4", "#ab7967"]' chart-labels='Dash.chart.labels')
              .col.v-middle.wrapper-xs
                ul.doughnut-legend.clear(style='max-width: 14em; margin: 0 auto;')
                  li.pull-left
                    span(style='background-color:#5B90BF')
                    | Awaiting Interviews
                  li.pull-left
                    span(style='background-color:#96b5b4')
                    | Awaiting Feedback on CV
                  li.pull-left
                    span(style='background-color:#ab7967')
                    | Awaiting Feedback on Interview

        .col-sm-4.no-padder
          .m-xs.b-a.bg-white-only
            .h4.text-black-lter.wrapper-sm.b-b: span.m-l-n-sm &nbsp; Average Feedback Time
            .hbox.wrapper-xs
              .col.v-middle
                .wrapper-lg.text-center
                  span.h1.fa-4x(ng-bind='Dash.aftime.days')
                  span Days
                  span.m-l-xs.h1.fa-4x(ng-bind='Dash.aftime.hours')
                  span Hours
      .col-xs-12.no-padder
        .m-xs.b-a.bg-white-only
          .h4.text-black-lter.wrapper-sm.b-b: span.m-l-n-sm &nbsp; Upcoming Interviews
          .hbox.wrapper-sm(ng-if='Dash.interviews.length===0')
            .col.text-center.text-light-lter None for This Week
          .hbox.wrapper-sm(ng-if='Dash.interviews.length>0')
            .col: .h6.font-bold Name
            .col: .h6.font-bold Type
            .col: .h6.font-bold Time
          div(style='max-height: 300px; overflow-y: auto;')
            .hbox.wrapper-sm.b-t(ng-repeat='applicant in Dash.interviews')
              .col: a(ui-sref='app.applicant.view({applicantId: applicant.id})') {{applicant.name}}
              .col
                i.fa(class='text-{{App.interviewUI[applicant.interview_type].color}}-dker fa-{{App.interviewUI[applicant.interview_type].icon}}' uib-tooltip='{{App.states[applicant.interview_type].name}}' tooltip-placement='left')
                |  {{App.states[applicant.state_id].name}}
              .col {{applicant.interview_time | date : 'd MMM, h:mm a'}}
            .text-center
              div.wrapper-xs(ng-if='Dash.interviewsUI.loading')
                i.fa.fa-spin.fa-circle-o-notch.btn.btn-default.wrapper-xs.rounded(title='Loading')
              div.wrapper-xs(ng-if='Dash.interviewsUI.lazyLoad')
                i.fa.fa-arrow-down.btn.btn-default.wrapper-xs.rounded(title='Load more' ng-click='Dash.getInterviews()')
      .col-xs-12.no-padder.hide
        .m-xs.wrapper-xs.bg-white-only
          .h4.text-black-lter.wrapper-xs.b-b &nbsp; Upcoming Joinees
          .hbox.wrapper-md
            .col
              .fa-4x.h1 Chart
            .col.wrapper-xs
              div x
              div y
              div z
