doctype html
html(lang='en' ng-app='qui.hire' ng-controller='AppController as App')
  head
    meta(charset='utf-8')
    title(ng-bind='App.Page.title()')  Hire | QuezX
    base(href='/')
    meta(name='description' content='dashboard, recruiter, client')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='manifest' href='manifest.json')

    // build:css styles/hire.css
    link(rel='stylesheet' href='bower_components/textAngular/dist/textAngular.css' type='text/css')
    link(rel='stylesheet' href='styles/main.css' type='text/css')
    link(rel='stylesheet' href='bower_components/animate.css/animate.css' type='text/css')
    link(rel='stylesheet' href='bower_components/source-sans-pro/source-sans-pro.css' type='text/css')
    link(rel='stylesheet' href='bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.css' type='text/css')
    link(rel='stylesheet' href='bower_components/font-awesome/css/font-awesome.css' type='text/css')
    link(rel='stylesheet', href='bower_components/angular-chart.js/dist/angular-chart.css' type='text/css')
    // endbuild

  body
    .app#app(
      ui-view
      ng-class="{\
        'app-header-fixed':true,\
        'app-aside-fixed':true,\
        'app-aside-folded':App.app.settings.asideFolded,\
        'app-aside-dock':App.app.settings.asideDock,\
        'container':App.app.settings.container\
      }"
    )

    // build:js scripts/hire-vendor.js
    script(type='text/javascript' src='bower_components/angular/angular.js')
    script(type='text/javascript' src='bower_components/moment/moment.js')
    script(type='text/javascript' src='bower_components/angular-animate/angular-animate.js')
    script(type='text/javascript' src='bower_components/angular-http-auth/src/http-auth-interceptor.js')
    script(type='text/javascript' src='bower_components/angular-ui-router/release/angular-ui-router.js')
    script(type='text/javascript' src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(type='text/javascript' src='bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.js')
    script(type='text/javascript' src='bower_components/Chart.js/Chart.min.js')
    script(type='text/javascript' src='bower_components/angular-chart.js/dist/angular-chart.min.js')
    script(type='text/javascript' src='bower_components/textAngular/dist/textAngular-rangy.min.js')
    script(type='text/javascript' src='bower_components/textAngular/dist/textAngular-sanitize.js')
    script(type='text/javascript' src='bower_components/textAngular/dist/textAngular.js')
    script(type='text/javascript' src='bower_components/textAngular/dist/textAngularSetup.js')
    // endbuild

    // build:js scripts/hire.js
    script(type='text/javascript' src='/scripts/core.js')
    script(type='text/javascript' src='/scripts/hire.js')
    // endbuild

    include ./_core.constant.jade
    include ./ga/_ga.hire.jade
