//- navbar
.app-header.navbar(ng-include="'html/blocks/header.html'")
//- menu
.app-aside.hidden-xs.b-b(
  ng-include="'html/blocks/aside.html'"
  class='{{App.app.settings.asideColor}}'
  ng-class="{\
    'off-screen': App.app.settings.offScreen,\
  }"
)

.content
  .app-content
    a.off-screen-toggle.hide(href='', ui-toggle-class='off-screen', data-target='.app-aside')
    .app-content-body
     .hbox
      .col.w(ng-if='App.showNavJobs()')
        div(ng-include="'html/blocks/nav.jobs.html'")
      .col(ui-view='')
