div.bg-white.lter(style='height: 100%;width: 100%;top: 3.6em;position: fixed;z-index: 1000;')
  .hbox(style='background: #fff url("/images/no-jobs.svg") no-repeat;background-size: contain;')
    .col
    .col.v-middle
      .pull-right: .wrapper-lg.bg-white(style='margin-top: -10em;')
        .h2.text-black-lt Looks like you are new to this place
        .h2.text-black-lt Upload your
          strong &nbsp; FIRST JD
        button.m-t-md.font-bold.btn.btn-lg.btn-success(ui-sref='app.jobs.new') UPLOAD JD
