div(ng-controller='JobsController as Job')
      .wrapper-md.bg-light.b-b
        button.btn.btn-primary.btn-addon.pull-right.m-t-n-xs(type='button', tooltip='Create new job Position', ng-click='Job.add()')
          i.fa.fa-plus
          | Add
        h1.m-n.font-thin.h3 Positions
      .hbox.hbox-auto-xs.hbox-auto-sm
        .col.wrapper-md
          .clearfix.m-b
