div(ng-controller='JobsManageController as Applicant' before-bottom='Applicant.loadApplicants()')
  .wrapper-md.bg-light.b-b
    h1.m-n.font-thin.h3
      | Positions /
      a(ui-sref='app.jobs.view({jobId: Applicant.job.id})')  {{Applicant.job.role}}
      |  / Manage
  .col-lg-10.col-lg-offset-1.wrapper-md
    .m-b-xs.hbox: .col
        .col-xs-6.col-md-9.no-padder
          .padder.w-full.w-auto-xs.m-b-xs
              label.i-checks.m-b-none
                input(type='checkbox' ng-click='Applicant.setChecked(Applicant.checkAll)' ng-model='Applicant.checkAll')
                i
                | {{Applicant.checkAll ? 'Uns':'S'}}elect All
        .col-xs-6.col-md-3.no-padder
          button.pull-right.btn.btn-success.m-t-n-sm(ng-if='Applicant.getApplicants({checked: true}, "id").length>0' ng-click='App.downloadApplicant(Applicant.getApplicants({checked: true}, "id"))') Download CV(s)
    .m-b-md.hbox(ng-repeat='applicant in Applicant.applicants')
      .col.bg-white
        .col-xs-12.col-md-9.no-padder
          .tl-content.panel.padder.b-r.w-full.w-auto-xs
            .m-b-sm
              label.i-checks.m-b-none
                input(type='checkbox' ng-model='applicant.checked')
                i
              a(ui-sref='app.applicants.view({applicantId: applicant.id})')
                strong.text-primary-lt  {{applicant.name}}
            .panel-body.pull-in.b-t
              .col-xs-4
                i.fa.fa-bookmark
                |  {{applicant.exp_designation}}
              .col-xs-4
                i.fa.fa-graduation-cap
                |  {{applicant.edu_degree}}
              .col-xs-4
                i.fa.fa-inr
                |  {{applicant.exp_salary}}&nbsp;Lakhs
              .col-xs-4
                i.fa.fa-briefcase
                |  {{applicant.exp_employer}}
              .col-xs-4
                i.fa.fa-line-chart
                |  {{applicant.total_exp}}&nbsp;Years
              .col-xs-4
                i.fa.fa-map-marker
                |  {{applicant.exp_location}}
        .col-xs-12.col-md-3
            .col-xs-3.col-md-12.wrapper-xs: span.pull-right.m-t-xs {{applicant.created_on | date: 'h:mm a'}}
            .col-xs-6.col-md-12.wrapper-xs.no-padder
              .col-xs-3.item.text-info.h1.pull-left.no-padder.font-thin  {{applicant.applicant_score}}

              .col-xs-9.pull-right.no-padder
                .btn-group.w-full(uib-dropdown='' uib-keyboard-nav='' dropdown-append-to-body)
                  button.w-full.btn(class='btn-{{App.states[applicant.state_id].config.color}}' uib-dropdown-toggle='' ng-disabled='App.states[applicant.state_id].view.length===0')
                    | {{applicant.state_name}}&nbsp;
                    span(ng-if='App.states[applicant.state_id].view.length>0').caret
                  ul.uib-dropdown-menu(role='menu' aria-labelledby='simple-btn-keyboard-nav')
                    li(role='menuitem' ng-repeat='state_id in App.states[applicant.state_id].view')
                      a(href='' ng-click='App.changeState(applicant, state_id)') {{App.states[state_id].name}}
            .col-xs-3.col-md-12.wrapper-xs
              i.btn.pull-right.text-success-dker.fa.fa-lg.fa-download(ng-click='App.downloadApplicant([applicant.id])')
    .col-xs-2.col-xs-offset-5
      button.pull-left.btn.active.m-t-xs(ng-if="Applicant.ui.loading")
        i.fa.fa-circle-o-notch.fa-spin
        strong &nbsp;Loading
      button.pull-left.btn.btn-primary.m-t-xs(ng-if="Applicant.ui.lazyLoad" ng-click="Applicant.loadApplicants()")
        i.fa.fa-plus-circle
        strong &nbsp;Load More
