div(ng-if='App.$state.params.jobId')
  .wrapper-xs.bg-light.b-b(style='position: fixed;width: 100%;background: #fff; z-index: 3;')
    ul.nav.nav-pills.nav-sm
      li: label.i-checks.m-t-xs.m-b-none.m-l-lg
        i.m-r-none(ng-if='Applicant.applicants.length > 0')
      li(ng-repeat='bucket in Job.buckets' ui-sref-active="active")
        a(ui-sref='app.jobs.manage({bucket: bucket, jobId: App.$state.params.jobId })') {{bucket}}

  .wrapper-xs.bg-light.b-b(style='position: fixed; right: 0;background: #fff; z-index: 3;')
    ul.nav.nav-pills.nav-sm.navbar-right.m-n

      li.dropdown.hide.hidden-xs(ng-controller='JobFollowersController as Follower' uib-dropdown auto-close='disabled' ng-include="'html/_job.follower.html'")

      li(ui-sref-active="active")
        a.h5.b-a.b-info.b-2x.text-info.font-bold(ui-sref='app.jobs.view({jobId: App.$state.params.jobId})') View JD

.wrapper-xs.bg-light.b-b
  .m-l-md.font-thin.h3
    span(ng-if='!App.$state.params.jobId') Add New
    span(ng-if='App.$state.params.jobId') Update
    | &nbsp;Position
form.form-horizontal.col-lg-10.col-lg-offset-1.wrapper-md(name='form')
  .panel.panel-primary.no-border
    .panel-heading.font-thin.h4
      | Job Description
    .panel-body
      .col-sm-8.no-padder
        label.col-xs-12.col-sm-11.input-group
          | What role would you like to hire?
          span.text-danger *
          input.form.form-control(type='text' placeholder='eg. Software Engineer' ng-model='Job.data.role' required)
      .col-sm-4.no-padder
        .col-xs-8.no-padder
          label.col-xs-11.input-group
            | Location
            span.text-danger *
            input.form-control(type='text' ng-model='Job.Regions.model' placeholder='Job Location' uib-typeahead='region.name for region in Job.Regions.get($viewValue)' typeahead-loading='Job.Regions.loadingRegions' typeahead-no-results='Job.Regions.noResults' typeahead-on-select='Job.Regions.select($item)' required ng-change='Job.data.region_id = ""')
            input(type='hidden' ng-model='Job.data.region_id' required)
            i.fa.fa-refresh.fa-spin(ng-show='Job.Regions.loadingRegions')
            div(ng-show='Job.Regions.noResults')
              i.fa.fa-remove
              |  No Results Found
        .col-xs-4.no-padder
          label.w-full.input-group
            | Vacancies
            span.text-danger *
            input.form.form-control(type='number' ng-model='Job.data.vacancy' min='1' required)
      .line.line-dashed.b-b.line-lg.pull-in
      .col-sm-6.no-padder
        label.w-full.input-group
          .col-xs-12.no-padder
            | CTC Offered (Lakhs)
            span.text-danger *
          .col-xs-5.no-padder
            input.form.form-control(type='number' placeholder='Minimum Annual CTC in Lakhs' min='0' step='0.01' ng-model='Job.data.min_sal' required)
          .col-sm-1.col-xs-2.no-padder: span.btn.w-full to
          .col-xs-5.no-padder
            input.form.form-control(type='number' placeholder='Maximum Annual CTC in Lakhs' min='0' step='0.01' ng-model='Job.data.max_sal' required)
      .col-sm-6.no-padder
        label.w-full.input-group
          .col-xs-12.no-padder
            | Experience (Years)
            span.text-danger *
          .col-xs-5.no-padder
            input.form.form-control(type='number' placeholder='Minimum Experience (In Years)' min='0' ng-model='Job.data.min_exp' required)
          .col-xs-2.no-padder: span.btn.w-full to
          .col-xs-5.no-padder
            input.form.form-control(type='number' placeholder='Maximum Experience (In Years)' min='0' ng-model='Job.data.max_exp' required)
      .line.line-dashed.b-b.line-lg.pull-in
      label.w-full.input-group
        .col-xs-12.no-padder
          | Qualifications
          .col-xs-12.no-padder.m-t-xs.m-b-xs
            .clearfix: .pull-left.text-info-dker.b-a.b-info.m-t-xs.m-r-xs(ng-repeat='degree in Job.data.JobsDegrees')
              span.wrapper-xs {{degree.name}}
              a.text-info-lt.font-bold(ng-click='Job.data.JobsDegrees.splice($index,1)'): span.fa.fa-1x ×&nbsp;
          input.form-control(type='text' ng-model='Job.Degrees.model' placeholder='Degree' uib-typeahead='degree.name for degree in Job.Degrees.get($viewValue)' typeahead-loading='Job.Degrees.loadingDegrees' typeahead-no-results='Job.Degrees.noResults' typeahead-on-select='Job.Degrees.select($item)')
          i.fa.fa-refresh.fa-spin(ng-show='Job.Degrees.loadingDegrees')
          div(ng-show='Job.Degrees.noResults')
            i.fa.fa-remove
            |  No Results Found
      .line.line-dashed.b-b.line-lg.pull-in
      label.w-full.input-group
        .col-xs-12.no-padder
          | Target Educational Institutions for Sourcing
          i.fa.fa-refresh.fa-spin(ng-show='Job.Institutes.loadingInstitutes')
        .col-xs-12.no-padder.m-t-xs.m-b-xs
          .clearfix: .pull-left.text-info-dker.b-a.b-info.m-t-xs.m-r-xs(ng-repeat='institute in Job.data.JobsInstitutes')
            span.wrapper-xs {{institute.name}}
            a.text-info-lt.font-bold(ng-click='Job.data.JobsInstitutes.splice($index,1)'): span.fa.fa-1x ×&nbsp;
        .col-xs-12.no-padder
          input.form-control(type='text' ng-model='Job.Institutes.model' placeholder='Target Institutions (if any)' uib-typeahead='institute.name for institute in Job.Institutes.get($viewValue)' typeahead-loading='Job.Institutes.loadingInstitutes' typeahead-no-results='Job.Institutes.noResults' typeahead-on-select='Job.Institutes.select($item)')
          div(ng-show='Job.Institutes.noResults')
            i.fa.fa-remove
            |  No Results Found
      .line.line-dashed.b-b.line-lg.pull-in
      label.w-full.input-group
        .col-xs-12.no-padder
          | Target Industries for Sourcing
          .col-xs-12.no-padder.m-t-xs.m-b-xs
            .clearfix: .pull-left.text-info-dker.b-a.b-info.m-t-xs.m-r-xs(ng-repeat='industry in Job.data.JobsIndustries')
              span.wrapper-xs {{industry.name}}
              a.text-info-lt.font-bold(ng-click='Job.Industries.addToList(Job.data.JobsIndustries.splice($index,1)[0])'): span.fa.fa-1x ×&nbsp;

          select.form-control.m-b(ng-model='Job.Industries.model' ng-init='Job.Industries.model = "0"' ng-change='Job.Industries.select(Job.Industries.model*1)')
            option(value='0' selected disabled) -- Choose Target Industries --
            option(ng-repeat='industry in Job.Industries.list | orderBy:"name"' ng-value='industry.id') {{industry.name}}

      .line.line-dashed.b-b.line-lg.pull-in
      label.w-full.input-group
        .col-xs-12.no-padder
            | Target Companies for Sourcing
            i.fa.fa-refresh.fa-spin(ng-show='Job.Employers.loadingEmployers')
        .col-xs-12.no-padder.m-t-xs.m-b-xs
          .clearfix: .pull-left.text-info-dker.b-a.b-info.m-t-xs.m-r-xs(ng-repeat='employer in Job.data.JobsEmployers')
            span.wrapper-xs {{employer.name}}
            a.text-info-lt.font-bold(ng-click='Job.data.JobsEmployers.splice($index,1)'): span.fa.fa-1x ×&nbsp;
        .col-xs-12.no-padder
          input.form-control(type='text' ng-model='Job.Employers.model' placeholder='Target Companies (if any)' uib-typeahead='employer.name for employer in Job.Employers.get($viewValue)' typeahead-loading='Job.Employers.loadingEmployers' typeahead-no-results='Job.Employers.noResults' typeahead-on-select='Job.Employers.select($item)')
          div(ng-show='Job.Employers.noResults')
            i.fa.fa-remove
            |  No Results Found
      .line.line-dashed.b-b.line-lg.pull-in
      .w-full.input-group
        .col-xs-12.no-padder Duties and Responsibilities
        div(text-angular ng-model='Job.data.responsibility')
      .line.line-dashed.b-b.line-lg.pull-in
      .w-full.input-group
        .h4.m-t-xs.m-b-xs.m-r-xs
          | Skills
          i.m-l-sm.fa.fa-refresh.fa-spin(ng-show='Job.Skills.loadingSkills' title='Loading...')
        .hbox
          .col: label.w-full
            div: strong.m-t-xs.text-muted Must have
            .clearfix: .pull-left.text-info-dker.b-a.b-info.m-t-xs.m-r-xs(ng-repeat='skill in Job.data.JobSkills' ng-show='skill.isRequired')
              span.wrapper-xs {{skill.name}}
              a.text-info-lt.font-bold(ng-click='Job.data.JobSkills.splice($index,1)'): span.fa.fa-1x ×&nbsp;
            .col-xs-8.no-padder.m-t-sm.input-group
              input.form-control(type='text' ng-model='Job.Skills.modelRequired' placeholder='Required Skills' uib-typeahead='industry.name for industry in Job.Skills.get($viewValue)' typeahead-loading='Job.Skills.loadingSkills' typeahead-no-results='Job.Skills.noRequiredResults' typeahead-on-select='Job.Skills.selectRequired($item)')
              span.input-group-btn
                button.btn.btn-default(type='button' ng-if='Job.Skills.modelRequired && Job.Skills.noRequiredResults' ng-click='Job.Skills.create(Job.Skills.modelRequired, true)'): i.fa.fa-plus
            div(ng-show='Job.Skills.noRequiredResults')
              i.fa.fa-remove
              |  No Results Found

          .col.b-l.b-light.wrapper-xs(style='width: 1px;')

          .col: label.w-full
            div: strong.m-t-xs.text-muted Optional
            .clearfix: .pull-left.text-info-dker.b-a.b-info.m-t-xs.m-r-xs(ng-repeat='skill in Job.data.JobSkills' ng-show='!skill.isRequired')
              span.wrapper-xs {{skill.name}}
              a.text-info-lt.font-bold(ng-click='Job.data.JobSkills.splice($index,1)'): span.fa.fa-1x ×&nbsp;
            .col-xs-8.no-padder.m-t-sm.input-group
              input.form-control(type='text' ng-model='Job.Skills.modelOptional' placeholder='Optional Skills' uib-typeahead='industry.name for industry in Job.Skills.get($viewValue)' typeahead-loading='Job.Skills.loadingSkills' typeahead-no-results='Job.Skills.noOptionalResults' typeahead-on-select='Job.Skills.selectOptional($item)')
              span.input-group-btn
                button.btn.btn-default(type='button' ng-if='Job.Skills.modelOptional && Job.Skills.noOptionalResults' ng-click='Job.Skills.create(Job.Skills.modelOptional, false)'): i.fa.fa-plus

            div(ng-show='Job.Skills.noOptionalResults')
              i.fa.fa-remove
              |  No Results Found

  .panel.panel-default.no-border
    .panel-heading.font-thin.h4
      | Additional Details
    .panel-body
      .w-full.input-group
        .col-xs-12.no-padder Perks, Incentives, ESOP's and Compensation details
        div(text-angular ng-model='Job.data.perks')
      .line.line-dashed.b-b.line-lg.pull-in
      .col-sm-2.no-padder
        label.w-full.input-group
          .col-xs-12.no-padder Working Days
          .col-xs-11.no-padder
            select.form-control.m-b(name='days_per_week' ng-model='Job.data.days_per_week' ng-options='day*1 as day for day in [1,2,3,4,5,6,7]')

      .col-sm-5.no-padder
        label.w-full.input-group
          .col-xs-12.no-padder Working Hours
          .col-xs-5.no-padder
            select.form-control.m-b(name='start_work_time' ng-model='Job.data.start_work_time')
              option(ng-repeat='time in Job.ui.start_work_time' ng-value='time') {{time}}
          .col-xs-1.no-padder: span.btn.w-full to
          .col-xs-5.no-padder
            select.form-control.m-b(name='end_work_time' ng-model='Job.data.end_work_time')
              option(ng-repeat='time in Job.ui.end_work_time' ng-value='time') {{time}}
      .col-sm-5.no-padder
        label.w-full.input-group
          .col-sm-12.no-padder
            | Job Functional Area
            span.text-danger *
          .col-sm-12.no-padder
            select.form-control.m-b(name='functional_area' ng-model='Job.data.func_id' ng-options='func.id*1 as func.name for func in  Job.Funcs | orderBy:"name"' id='func_id' required)
      .line.line-dashed.b-b.line-lg.pull-in
      .col-sm-6.no-padder
        label.w-full.input-group
          .col-xs-12.no-padder
            | Job Nature
            span.text-danger *
          .col-xs-12.no-padder: .btn-group.text-center
            label.w-xs.btn.btn-sm.btn-default(name='job_nature' ng-model='Job.data.job_nature', uib-btn-radio='"1"')
              i.fa.fa-check.text-active
              | Full Time
            label.w-xs.btn.btn-sm.btn-default(name='job_nature' ng-model='Job.data.job_nature', uib-btn-radio='"0"')
              i.fa.fa-check.text-active
              | Part Time

      .col-sm-6.no-padder
        label.input-group
          .col-xs-12.no-padder
            | Gender Preference
            span.text-danger *
          .col-xs-12.no-padder: .btn-group.text-center(ng-init='Job.data.preferred_genders = "No Preference"')
            label.w-xs.btn.btn-sm.btn-default(ng-model='Job.data.preferred_genders', uib-btn-radio='"No Preference"')
              i.fa.fa-check.text-active
              | None
            label.w-xs.btn.btn-sm.btn-default(ng-model='Job.data.preferred_genders', uib-btn-radio='"Male"')
              i.fa.fa-check.text-active
              | Male
            label.w-xs.btn.btn-sm.btn-default(ng-model='Job.data.preferred_genders', uib-btn-radio='"Female"')
              i.fa.fa-check.text-active
              | Female

  .panel.panel-default.no-border
    .panel-heading.font-thin.h4
      | Interview Details
    .panel-body
      .col-sm-4.no-padder
        label.w-full.input-group
          .col-xs-12.no-padder Direct Lineup
          .col-xs-12.no-padder
            .col-xs-4.radio: label.i-checks
              input(type='radio' name='direct_line_up' ng-model='Job.data.direct_line_up' value='1')
              i
              | Yes
            .col-xs-4.radio: label.i-checks
              input(type='radio' name='direct_line_up' ng-model='Job.data.direct_line_up' value='0')
              i
              | No
      .col-sm-4.no-padder
        //- Hidden White List JD from Clients
        label.w-full.input-group.hide
          .col-xs-12.no-padder
            | White List JD
            span.text-danger *
          .col-xs-12.no-padder
            .col-xs-4.radio: label.i-checks
              input(type='radio' name='whitelist' ng-model='Job.data.whitelist' value='1')
              i
              | Yes
            .col-xs-4.radio: label.i-checks
              input(type='radio' name='whitelist' ng-model='Job.data.whitelist' value='0')
              i
              | No
      .col-sm-4.no-padder
        label.w-full.input-group
          .col-xs-12.no-padder
            | Email of contact person
            span.text-danger *
          .col-xs-12.no-padder(ng-init='Job.data.email = App.userinfo.email_id')
            input.form.form-control(type='email' ng-model='Job.data.email' required)
      .line.line-dashed.b-b.line-lg.pull-in
      .w-full.input-group
        .col-xs-12.no-padder Sourcing and Screening Guidelines
        div(text-angular ng-model='Job.data.comments')
      .line.line-dashed.b-b.line-lg.pull-in
      label.w-full.input-group
        .col-xs-12.no-padder Interview Address
        textarea.form.form-control(type='text' ng-model='Job.data.interview_addr')
      .line.line-dashed.b-b.line-lg.pull-in
      label.w-full.input-group
        .col-xs-12.no-padder Interview Directions
        textarea.form.form-control(type='text' ng-model='Job.data.interview_place_direction')

  .col-xs-12: button.btn.btn-success.pull-right(type='submit' ng-click='Job.create()' ng-disabled='form.$invalid')
    span(ng-if='!App.$state.params.jobId') CREATE
    span(ng-if='App.$state.params.jobId') Update
    | &nbsp;JD
