.modal-header.bg-light.dk
  .modal-title
    .text-info-dker.h4 Confirmation for Direct Lineup

.modal-body.bg-white-only
  .wrapper-xs.h4.text-black Are you sure you want to keep the position as direct line up?
  .wrapper-xs.h5.text-muted (CV's will be directly shortlisted by QuezX)

  .clear
    .pull-left.wrapper-xs: .h5 Click yes to proceed.
    .pull-right.wrapper-xs
      strong: a.wrapper-md.text-info-dker(ng-click='directLineup(1)') Yes
      strong: a.wrapper-md.text-info-dker(ng-click='directLineup(0)') No

