.modal-header
  .modal-title
    .h4.text-info Add Follower
      .close(ng-click='DownloadCV.cancel()') ×
.modal-body
  label.w-full.input-group
    .col-xs-12.no-padder
      | Users
      i.fa.fa-refresh.fa-spin(ng-show='NewJob.Skills.loadingSkills')
    .col-xs-12.no-padder
      .col-xs-6.no-padder.m-t-xs.m-b-xs
        span.b-a.b-info.text-info-dker.m-r-xs(ng-repeat='skill in NewJob.data.JobSkills' ng-show='skill.isRequired')
          span.wrapper-xs {{skill.name}}
          a.text-info-dk(ng-click='NewJob.data.JobSkills.splice($index,1)'): i.fa.fa-times
      .col-xs-6.no-padder.m-t-xs.m-b-xs
        span.b-a.b-info.text-info-dker.m-r-xs(ng-repeat='skill in NewJob.data.JobSkills' ng-show='!skill.isRequired')
          span.wrapper-xs {{skill.name}}
          a.text-info-dk(ng-click='NewJob.data.JobSkills.splice($index,1)'): i.fa.fa-times
    .col-xs-12.no-padder
      .col-xs-6.no-padder.input-group
        input.form-control(type='text' ng-model='NewJob.Skills.modelRequired' placeholder='Enter email ids of user' uib-typeahead='industry.name for industry in NewJob.Skills.get($viewValue)' typeahead-loading='NewJob.Skills.loadingSkills' typeahead-no-results='NewJob.Skills.noRequiredResults' typeahead-on-select='NewJob.Skills.selectRequired($item)')
        span.input-group-btn
          button.btn.btn-default(type='button'): i.fa.fa-plus
      div(ng-show='NewJob.Skills.noRequiredResults')
        i.fa.fa-remove
        |  No Results Found


.modal-footer
  a.btn.btn-primary(ng-click='DownloadCV.ok()' ng-href='{{DownloadCV.downloadUrl}}&concat={{DownloadCV.concat}}' target='_blank') Add
