doctype html
html(lang='en' ng-app='qui.partner' ng-controller='AppController as App')
  head
    meta(charset='utf-8')
    title(ng-bind='App.Page.title()') Partner | QuezX
    base(href='/')
    meta(name='description' content='dashboard, recruiter, client')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')

    // build:css styles/partner.css
    link(rel='stylesheet' href='/styles/main.css' type='text/css')
    link(rel='stylesheet' href='/bower_components/animate.css/animate.css' type='text/css')
    link(rel='stylesheet' href='/bower_components/source-sans-pro/source-sans-pro.css' type='text/css')
    link(rel='stylesheet' href='/bower_components/font-awesome/css/font-awesome.css' type='text/css')
    // endbuild

  body
    .app#app(
      ui-view
      ng-class="{\
        'app-header-fixed':true,\
        'app-aside-fixed':true,\
        'app-aside-folded':App.app.settings.asideFolded,\
        'app-aside-dock':App.app.settings.asideDock,\
        'container':App.app.settings.container\
      }"
    )

    // build:js scripts/partner-vendor.js
    script(type='text/javascript' src='/bower_components/angular/angular.js')
    script(type='text/javascript' src='/bower_components/moment/moment.js')
    script(type='text/javascript' src='/bower_components/angular-animate/angular-animate.js')
    script(type='text/javascript' src='/bower_components/angular-http-auth/src/http-auth-interceptor.js')
    script(type='text/javascript' src='/bower_components/angular-ui-router/release/angular-ui-router.js')
    script(type='text/javascript' src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    // endbuild

    // build:js scripts/partner.js
    script(type='text/javascript' src='/scripts/core.js')
    script(type='text/javascript' src='/scripts/partner.js')
    // endbuild

    //- add constants for qui.core
    include ./_core.constant.jade
    include ./ga/_ga.partner.jade
