.container.w-xxl.w-auto-xs(ng-controller='SigninFormController as Signin' ng-init='App.app.settings.container = false;')
  a.navbar-brand.block.m-t(href='')
    img(src='/images/logo.svg', alt='{{App.app.name}}')
  .wrapper.text-center: strong Sign in

  form.form-validation(name="form" ng-submit='Signin.signin()')
    .text-danger.wrapper.text-center(ng-show='Signin.authError') {{Signin.authError}}

    .list-group.list-group-sm.m-b-md
      .list-group-item: input.form-control.no-border(type='text' placeholder='Username' ng-model='Signin.user.username' required autofocus="true")
      .list-group-item: input.form-control.no-border(type='password' placeholder='Password' ng-model='Signin.user.password' required)

    button.btn.btn-lg.btn-primary.btn-block(type='submit') Log in

  .wrapper-md.text-center: a.text-info(ui-sref='oauth.password-reset') Forgot password?

  .text-center(ng-include="'html/blocks/footer.html'")
