.hbox(ng-controller='StatsController as Stats')
  .col.w-md.bg-dark.lt.b-r.bg-auto
    ul.nav
      li.padder.m-t.m-b-sm.text-muted.text-xs
        span Stats
          a.pull-right(ng-href='{{Stats.download}}') Export to CSV
      li(ng-class='{active: App.$state.includes(navstate)}' ng-repeat='(navstate, navitem) in Stats.nav')
        a.auto
          span.pull-right.text-muted
            i.fa.fa-fw.fa-angle-right.text
            i.fa.fa-fw.fa-angle-down.text-active
          span(ng-bind='navitem').font-bold
        ul.nav.nav-sub.bg-dark
          li(ng-class='{active: (App.$state.params.nav == id) && (App.$state.current.name === navstate)}' ng-repeat='(id, nav) in Stats.subNav')
            a(ng-href='{{App.$state.href(navstate, {nav: id})}}' ng-bind='nav')
  .col
    div.wrapper-sm.m-l-sm
      span(ng-bind='Stats.nav[App.$state.current.name]')
      span &nbsp;&gt;&nbsp;
      span.text-black(ng-bind='Stats.subNav[App.$state.params.nav]')
    div(ui-view)
