node_modules
public
.env
.tmp
.sass-cache
.idea
client/bower_components
dist
/server/config/local.env.js
npm-debug.log
coverage
client/app/ng-modules
/crux
client_secret_calender.json
server/components/hbs/templates/*.html
.env.postman.json
newman
email/src/css/main.css
static/qdrive
!logs/.gitkeep
logs/*
data/*
